@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to Rubicon</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <vc:navigation-menu />
        </div>
        <div class="col">
            <div class="mt-3">
                @foreach (Book b in Model.Books)
                {
                    <partial name="BookSummary" model="b" />
                }

                <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
                     page-class-normal="btn-outline-dark"
                     page-class-selected="btn-primary"
                     page-url-category="@Model.CurrentCategory"
                     class="btn-group pull-right m-1"></div>
            </div>
        </div>
    </div>
</div>
